<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Định vị khách hành</title>
    <link rel="stylesheet" href="./../../assets/css/bootstrap.min.css">
    <style>
        #map {
            width: 100%;
            height: 700px;
            background-color: grey;
        }
    </style>
</head>

<body>
    <br>
    <br>
    <div class="container-fluid" id="app">
        <div class="row">
            <div class="col-lg-3">
                <div class="panel panel-info">
                    <div class="panel-heading text-center">Mã: {{suser}}</div>
                    <div class="panel-body center-block text-center">
                        <div id="btnLogout" class="btn btn-primary btn-block">Đăng xuất</div>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">Danh sách địa chỉ cần định vị:</div>
                    <div class="panel-body center-block">
                        <div class="list-group" style="height:400px;overflow: auto">
                            <div v-for="item in orders">
                                <a href="#" class="list-group-item" v-bind:class="{active:item.key==currentOrder}" v-on:click="selectOrder(item.key)">
                                    <h3 class="list-group-item-heading">{{item.info.Address}}</h3>
                                    <p class="list-group-item-text">Số điện thoại:
                                        <b>{{item.info.Number}}</b>
                                    </p>
                                    <p class="list-group-item-text small">Ngày giờ:
                                        <b>{{item.info.Time|showTime}}</b>
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">Chức năng</div>
                    <div class="panel-body center-block">
                        <div class="btn btn-primary btn-lg" style="width:45%" v-on:click="startPick()">Định vị</div>
                        <div class="btn btn-primary btn-lg pull-right" style="width:45%" v-on:click="endPick()">Hoàn tất</div>
                    </div>
                </div>

            </div>
            <div class="col-lg-9">
                <div class="col-md-3">
                    <div class="row">
                        <label for="pac-input">Tìm kiếm: </label>
                    </div>
                    <div class="row" style="margin-top:10px; margin-bottom:10px">
                        <label>Địa chỉ tương ứng trên bản đồ </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <input id="pac-input" class="controls" type="text" placeholder="Search Box" style="width:100%">
                    </div>
                    <div class="row" style="margin-top:10px; margin-bottom:10px">
                        <input id="pac-output" class="controls" type="text" style="width:100%" readonly>
                    </div>
                </div>
                <br>
                <div id="map"></div>
            </div>
        </div>
    </div>

    <!-- Login form -->
    <div id="modalLogin" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Đăng nhập hệ thống</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="txtUser" class="control-label">Nhập mã định vị viên:</label>
                            <input id="txtUser" type="text" class="form-control" required>
                            <label for="txtPass" class="control-label">Nhập mã đăng nhập:</label>
                            <input id="txtPass" type="password" class="form-control" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btnLogin" type="button" class="btn btn-primary">Đăng nhập</button>
                </div>
            </div>
        </div>
    </div>

    <!-- javascript -->
    <script src="./../../assets/js/jquery-3.2.1.min.js"></script>
    <script src="./../../assets/js/bootstrap.min.js"></script>

    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-database.js"></script>
    <script src="./../../assets/js/firebaseInit.js"></script>

    <script src="./../../assets/js/vue.js"></script>

    <script src="./setposition.js"></script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwOUh2eeQAESHBPKjDX93hfqL1AXl_Ji0&libraries=geometry,places&callback=initMap">
    </script>

</body>

</html>