<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>App lai xe</title>
    <link rel="stylesheet" href="./../assets/css/bootstrap.min.css">
    <style>
        #map {
            width: 100%;
            height: 390px;
            background-color: grey;
            margin-bottom: 5px;
        }
    </style>
</head>

<body>

    <div class="container-fluid" id="app">
        <div class="row">
            <div class="panel panel-info" style="margin-bottom:5px">
                <div class="panel-heading text-center">Danh sách chuyến đi có sẵn</div>
                <div class="panel-body center-block" style="padding:5px">
                    <div class="list-group" style="height:180px;overflow:auto;margin-bottom:5px">
                        <div v-for="item in orders">
                            <a href="#" class="list-group-item" style="padding:5px 20px" v-bind:class="{active:item.key==currentOrder}" v-on:click="selectOrder(item.key)">
                                <h6 class="list-group-item-heading">{{item.info.Address}}</h6>
                                <p class="list-group-item-text">
                                    <h6>Số điện thoại:
                                        <b>{{item.info.Number}}</b>
                                    </h6>
                                </p>
                                <p class="list-group-item-text small">
                                    <h6>Ngày giờ:
                                        <b>{{item.info.Time|showTime}}</b>
                                    </h6>
                                </p>
                            </a>
                        </div>
                    </div>

                    <div class="btn btn-primary btn-sm" style="width:45%" v-on:click="startPick()">Nhận chuyến đi</div>
                    <div class="btn btn-primary btn-sm pull-right" style="width:45%" v-on:click="endPick()">Hoàn tất chuyến đi</div>

                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-body center-block" style="padding:5px">
                    <div id="map"></div>
                    <div class="btn btn-primary btn-sm" style="width:45%" data-toggle="modal" data-target="#waymodal">Xem hướng dẫn đi</div>
                    <div id="btnLogout" class="btn btn-primary btn-sm pull-right" style="width:45%">Đăng xuất</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Login form -->
    <div id="modalLogin" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Đăng nhập hệ thống</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="txtUser" class="control-label">Nhập mã của lái xe:</label>
                            <input id="txtUser" type="text" class="form-control" required>
                            <label for="txtPass" class="control-label">Nhập mã đăng nhập:</label>
                            <input id="txtPass" type="password" class="form-control" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btnLogin" type="button" class="btn btn-primary">Đăng nhập</button>
                </div>
            </div>
        </div>
    </div>

    <!--Way -->
    <div class="modal fade" id="waymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="myModalLabel">Hướng dẫn đường đi</h5>
                </div>
                <div class="modal-body">
                    <div id="waypanel"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- javascript -->
    <script src="./../assets/js/jquery-3.2.1.min.js"></script>
    <script src="./../assets/js/bootstrap.min.js"></script>

    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-database.js"></script>
    <script src="./../assets/js/firebaseInit.js"></script>

    <script src="./../assets/js/vue.js"></script>

    <script src="./car.js"></script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwOUh2eeQAESHBPKjDX93hfqL1AXl_Ji0&libraries=geometry,places&callback=initMap">
    </script>

</body>

</html>