<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ghi nhận khách hàng</title>
    <link rel="stylesheet" href="./../../assets/css/bootstrap.min.css">
</head>

<body>
    <br>
    <br>
    <div class="container" id="appDTV">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">Danh sách các địa chỉ trước đó:</div>
                    <div class="panel-body">
                        <div class="list-group" style="height:310px;overflow: auto">
                            <div v-for="vo in orders">
                                <a href="#" class="list-group-item" v-on:click="pickFromHistory(vo.key)">
                                    <span class="pull-right">
                                        <span class="small bg-info">{{status[vo.info.Status]}}</span>
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </span>
                                    <h3 class="list-group-item-heading">{{vo.info.Address}}</h3>
                                    <br>
                                    <p class="list-group-item-text small">
                                        {{vo.info.Time|showTime}}
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <div class="panel panel-info">
                    <div class="panel-heading">Thông tin khách hàng</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="txtNumber">Số điện thoại:</label>
                            <input id="txtNumber" type="text" class="form-control" placeholder="Số điện thoại" v-model="newOrderNumber" v-on:keyup="findByNumber" v-on:keypress="onlyNumber">
                        </div>
                        <div class="form-group">
                            <label for="txtAddress">Địa chỉ</label>
                            <input id="txtAddress" type="text" class="form-control" placeholder="Địa chỉ" v-model="newOrderAddress" v-on:keyup="changeAddress">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" v-model="newOrderIsVIP"> Đặt xe VIP
                            </label>
                        </div>
                        <button type="button" class="btn btn-primary btn-block" v-on:click="sendNewOrder()">
                            Lưu thông tin
                        </button>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">Hệ thống</div>
                    <div class="panel-body">
                        <button id="btnLogout" type="button" class="btn btn-primary btn-block">
                            Đăng xuất
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Login form -->
    <div id="modalLogin" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Đăng nhập hệ thống</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="txtPass" class="control-label">Nhập mã đăng nhập:</label>
                            <input id="txtPass" type="password" class="form-control" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btnLogin" type="button" class="btn btn-primary">Đăng nhập</button>
                </div>
            </div>
        </div>
    </div>

    <script src="./../../assets/js/jquery-3.2.1.min.js"></script>
    <script src="./../../assets/js/bootstrap.min.js"></script>

    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-database.js"></script>
    <script src="./../../assets/js/firebaseInit.js"></script>

    <script src="./../../assets/js/vue.js"></script>

    <script src="./neworder.js"></script>
</body>

</html>