<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trạng thái</title>
    <link rel="stylesheet" href="./../../assets/css/bootstrap.min.css">
    <style>
        #map {
            width: 100%;
            height: 810px;
            background-color: grey;
        }

        #driPanel {
            width: 100%;
            height: 740px;
            overflow: auto;
        }
    </style>
</head>

<body>
    <br>
    <br>
    <div class="container-fluid" id="app">
        <div class="row">
            <div class="col-lg-3">
                <div class="panel panel-info">
                    <div class="panel-heading">Hệ thống:</div>
                    <div class="panel-body center-block text-center">
                        <div id="btnLogout" class="btn btn-primary btn-block">Đăng xuất</div>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">Danh sách order:</div>
                    <div class="panel-body center-block">
                        <div class="list-group" style="height:600px;overflow: auto">
                            <div v-for="item in orders">
                                <a href="#" class="list-group-item" v-bind:class="{active:item.key==currentOrder}" v-on:click="selectOrder(item.key)">
                                    <span class="pull-right">
                                        <span class="small bg-info">{{status[item.info.Status]}}</span>
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </span>
                                    <h4 class="list-group-item-heading">Số điện thoại:
                                        <b>{{item.info.Number}}</b>
                                    </h4>
                                    <h5 class="list-group-item-text">Địa chỉ:
                                        <b>{{item.info.Address}}</b>
                                    </h5>
                                    <h5 class="list-group-item-text">Loại xe:
                                        <b v-if="item.info.IsVIP">Xe VIP</b>
                                        <b v-else>Xe Thường</b>
                                    </h5>
                                    <h5 class="list-group-item-text">Thời gian:
                                        <i>{{item.info.Time|showTime}}</i>
                                    </h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div id="map"></div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-info">
                    <div class="panel-heading">Bảng chỉ đường:</div>
                    <div class="panel-body center-block">
                        <div id="driPanel"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Login form -->
    <div id="modalLogin" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Đăng nhập hệ thống</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="txtPass" class="control-label">Nhập mã đăng nhập:</label>
                            <input id="txtPass" type="password" class="form-control" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btnLogin" type="button" class="btn btn-primary">Đăng nhập</button>
                </div>
            </div>
        </div>
    </div>

    <!-- javascript -->
    <script src="./../../assets/js/jquery-3.2.1.min.js"></script>
    <script src="./../../assets/js/bootstrap.min.js"></script>

    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-database.js"></script>
    <script src="./../../assets/js/firebaseInit.js"></script>

    <script src="./../../assets/js/vue.js"></script>

    <script src="./status.js"></script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwOUh2eeQAESHBPKjDX93hfqL1AXl_Ji0&libraries=geometry,places&callback=initMap">
    </script>

</body>

</html>